table{
    border-collapse: collapse;
    background-color: aqua;
    width: 100%;
    align-items: center;
}

caption{
    color: darkgreen;
    font-size: 50px ;
    font-weight: bold;
}

th,td{
    border-style: ridge;
    padding: 5px;
}

th{
    background-color: rgb(247, 168, 104);
}

tbody, tr{
    background-color: rgb(100, 214, 237);
    font-size: 20px;
    font-weight: normal;
}
tbody,tr:hover{
  background-color: azure;  
  font-size: 25x; 
  font-weight: bold;
}

footer{
    background-color: rgb(182, 182, 255);
}

.TablaTipCargo{
    background-color: burlywood;
    
}
#TheadTipoCargo{
    background-color: blanchedalmond;
}